@use "../../styles/theme.module.scss" as theme;

.currency_selector {
  padding: 20px 16px;

  .title {
    margin-bottom: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color: theme.$font-color-default;
  }
}