$color-blue-dark: rgb(33, 150, 243);
$color-blue-light: rgb(242, 252, 254);
$color-blue-light-border: rgb(100, 181, 246);
$color-gray: rgb(209, 212, 216);
$color-white: rgb(255, 255, 255);

$color-orange: rgb(255, 109, 0);
$color-orange-hover: rgb(255, 129, 36);
$color-orange-border: rgb(214, 77, 7);
$color-orange-border-hover: rgb(246, 102, 29);

$font-color-default: rgb(74, 74, 74);