$color-blue-dark: rgb(33, 150, 243);
$color-blue-light: rgb(242, 252, 254);
$color-blue-light-border: rgb(100, 181, 246);
$color-gray: rgb(209, 212, 216);
$color-white: rgb(255, 255, 255);

$color-orange: rgb(255, 109, 0);
$color-orange-hover: rgb(255, 129, 36);
$color-orange-border: rgb(214, 77, 7);
$color-orange-border-hover: rgb(246, 102, 29);

.button {
  display: block;
  flex: auto;
  height: 40px;
  padding: 14px 16px;
  z-index: 1;

  border: 1px solid $color-gray;
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 11px;
  color: $color-blue-dark;
  background-color: $color-white;

  cursor: pointer;

  transition:
    background-color 250ms ease,
    color 250ms ease,
    border-color 250ms ease,
    box-shadow 250ms ease;

  &:hover {
    background-color: $color-blue-light;
    border-color: $color-blue-light-border;
    z-index: 2;
  }

  &.selected {
    color: $color-white;
    background-color: $color-blue-dark;
    border-color: $color-blue-dark;

    &:hover {
      color: $color-white;
      background-color: $color-blue-dark;
      border-color: $color-blue-dark;
      z-index: 2;
    }
  }

  &.orange {
    max-width: 160px;
    border: 1px solid $color-orange;
    border-bottom-color: $color-orange-border;
    color: $color-white;
    background-color: $color-orange;

    &:hover {
      border: 1px solid $color-orange-hover;
      border-bottom-color: $color-orange-border-hover;
      color: $color-white;
      background-color: $color-orange-hover;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    }
  }

  &.multiline {
    height: initial;
    width: 100%;
    padding: 10px 40px;
    line-height: 18px;
  }
}

[class*="button_group"] .button {
  margin-left: -1px;
  border-radius: 0;

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}