$color-gray: rgb(209, 212, 216);
$color-text-light: rgb(141, 151, 153);
$color-text-dark: rgb(74, 74, 74);

.ticket_card {
  display: flex;
  flex-flow: row nowrap;

  max-width: 100%;
  margin-bottom: 20px;

  border-radius: 6px;

  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

  overflow: hidden;

  transition: box-shadow 250ms ease;

  &:hover {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
  }

  .left {
    width: 200px;
    padding: 24px 20px;
    border-right: 1px solid $color-gray;

    .carrier {
      width: 120px;
      height: 32px;
      margin: 0 auto 20px;

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      &.BA {
        background-image: url("../media//logos/BA.png");
      }

      &.TK {
        background-image: url("../media//logos/TK.png");
      }

      &.SU {
        background-image: url("../media//logos/SU.png");
      }

      &.S7 {
        background-image: url("../media//logos/S7.png");
      }
    }
  }

  .right {
    padding: 24px 26px;
  }
}