@use "../../styles/theme.module.scss" as theme;

.sidebar {
  display: flex;
  flex-flow: column;
  width: 230px;
  max-width: 230px;
  margin-right: 20px;
  padding-bottom: 20px;

  border-radius: 6px;

  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

  .title {
    color: theme.$font-color-default;
  }
}